
 <blockquote><p class="quotation">
  <%= @question %></p>
<footer>— You</footer>
</blockquote>

 <blockquote><p class="quotation">
  <%= @answer %></p>
<footer>— Your coach</footer>
</blockquote>

<%= link_to "<<BACK TO ASK", ask_path %>
