
<h4>Ask your coach anything</h4>

<!-- <form action="/answer" class = "form-inline">

  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> -->


<!-- <form action="/answer" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label>Ask something</label>
    <input type="text" class="form-control" name="question"  placeholder="Ask something">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask</button>
</form>


<p>Ask you coach anything:</p> -->

<form class="form-inline" action="answer">
 <div class="form-group mx-sm-3 mb-2">
   <input class="form-control" type="text" name="question">
 </div>
   <input class="btn btn-primary mb-2" type="submit" value="Ask!">
</form>

